.nav {
	padding: 10px;
	background-color: lightblue;
	display: flex;
}

.logo {
	align-self: center;
	display: flex;
	align-items: center;
}

.menu {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
}

.menu ul {
	display: flex;
	padding: 0;
	list-style: none;
}

.menu ul li {
	margin: 0 10px;
	padding: 5px;
	border: 1px solid blue;
}

.link {
	text-decoration: none;
	color: #3570e6;
}